* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  letter-spacing: 0.8px;
}

/* html {
  height: 100vh;
} */

body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  /* background-image: url(/imagens/background.png); */
}

.container {
  max-width: 1400px;
  padding: 20px 120px;
  margin: 0 auto;
}
