* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  letter-spacing: 0.8px;
}

body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.container {
  padding: 20px 120px;
  margin: 0 auto;
}
